@attribute [Route(Urls.AdminStructureCreateContentType)]
@attribute [Route(Urls.AdminStructureCreateElementType)]
@attribute [Route(Urls.AdminStructureCreateComposition)]
@attribute [Route(Urls.AdminStructureCreateFolder)]
@attribute [Route($"{Urls.AdminStructureCreateFolder}/{{FolderType:int}}")]
@attribute [Route($"{Urls.AdminStructureCreateFolderWithParent}/{{ParentId:guid}}")]
@attribute [Route($"{Urls.AdminStructureCreateContentType}/{{ParentId:guid}}")]
@attribute [Route($"{Urls.AdminStructureUpdateContentType}/{{ContentTypeId:guid}}")]
@attribute [Route($"{Urls.AdminStructureCopyContentType}/{{CopyContentTypeId:guid}}")]

@using System.Text.Json
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Hosting
@using ZauberCMS.Components.Admin.StructureSection.Dialogs
@using ZauberCMS.Components.Editors.Dialogs
@using ZauberCMS.Components.Editors.Models
@using ZauberCMS.Core.Content.Parameters
@using ZauberCMS.Core.Plugins
@using ZauberCMS.Core.Shared
@using ZauberCMS.Core.Shared.Services
@using ZauberCMS.Core.Shared.Models

@layout SectionLayout

<PageTitle>Create Content Type</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right" AlignItems="AlignItems.Center"
             Gap="5" Style="margin-top: -5px; padding-top: 0; padding-bottom: 10px;">
    <RadzenButton Variant="Variant.Filled" Text="Add Property" Click="@(AddProperty)"/>
    <RadzenButton Variant="Variant.Filled" Text="Add Tab" Click="@(() => AddEditTab(null))"/>
    @if (TabIndex.Count > 1 && SelectedTabIndex < TabIndex.Count && !TabIndex[SelectedTabIndex].IsSystemTab)
    {
        <RadzenButton Variant="Variant.Filled" Text="Edit Tab" Click="@(() => AddEditTab(TabIndex[SelectedTabIndex]))"/>
    }
    @if (ShowDeleteButton)
    {
        <RadzenButton Variant="Variant.Filled" ButtonStyle="ButtonStyle.Danger" Text="Delete"
                      Click="@(DeleteContentType)"/>
    }
</RadzenStack>

<RadzenPanel Class="rz-mx-auto">
    <EditForm Model="ContentType" OnSubmit="Save">
        <RadzenRow class="rz-pb-6">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Left"
                         AlignItems="AlignItems.Center" class="w-full" Gap="2">
                @if (!ContentType.IsFolder)
                {
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center"
                                 AlignItems="AlignItems.Center"
                                 Style="width: 40px; height: 40px; border: 1px #ccc solid; cursor: pointer;"
                                 @onclick="@(SelectIcon)">
                        <RadzenIcon Icon="@(ContentType.Icon.IsNullOrWhiteSpace() ? "add" : ContentType.Icon)"
                                    style="font-weight: 300; color: dimgray;"/>
                    </RadzenStack>
                }
                <RadzenTextBox Style="width: 100%;" Name="Name" Placeholder="Name" Value="@ContentType.Name"
                               ValueChanged="@((string name) =>
                                             {
                                                 ContentType.Name = name;
                                                 ContentType.Alias = _slugHelper.GenerateSlug(name);
                                             })" aria-label="Name"/>
            </RadzenStack>

            @if (!ContentType.IsFolder)
            {
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Left"
                             AlignItems="AlignItems.Center" class="w-full" Gap="0">
                    <RadzenTextBox Style="width: 100%;" Name="Description" Placeholder="Optional Description"
                                   @bind-Value="ContentType.Description" aria-label="Description"/>
                </RadzenStack>
            }

            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Left"
                         AlignItems="AlignItems.Center" class="w-full" Gap="0">
                <RadzenIcon Icon="lock_outline" IconStyle="IconStyle.Light"
                            Style="line-height: 20px; height: 20px; font-size: 20px;"/>
                <RadzenText TextStyle="TextStyle.Caption" Style="margin: 0; padding: 0;">@ContentType.Alias</RadzenText>
            </RadzenStack>

        </RadzenRow>
        <RadzenTabs @ref="Tabs" Change="@(i => TabChange(i))" @bind-SelectedIndex="@SelectedTabIndex">
            <Tabs>
                @foreach (var tab in OrderedTabs)
                {
                    if (tab.IsSystemTab)
                    {
                        <RadzenTabsItem Text="System">
                            @if (ContentType is { IsElementType: false, IsFolder: false, IsComposition: false })
                            {
                                <EditorRow>
                                    <LeftColumn>
                                        <PropertyInfo Name="Allowed At Tree Root"
                                                      Description="Whether this content can be created at the root of the content tree"/>
                                    </LeftColumn>
                                    <CentreColumn>
                                        <RadzenSwitch @bind-Value="@ContentType.AllowAtRoot"
                                                      InputAttributes="@(new Dictionary<string, object> { { "aria-label", "Allow at root" } })"/>
                                    </CentreColumn>
                                </EditorRow>
                                
                                <EditorRow>
                                    <LeftColumn>
                                        <PropertyInfo Name="Allowed Views"
                                                      Description="The views the user can pick to display their content"/>
                                    </LeftColumn>
                                    <CentreColumn>
                                        <RadzenListBox @bind-Value="@ContentType.AvailableContentViews"
                                                       Data="@ContentViews"
                                                       FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                       FilterOperator="StringFilterOperator.StartsWith"
                                                       AllowFiltering="true"
                                                       TextProperty="Name"
                                                       ValueProperty="FullName"
                                                       Multiple="true"
                                                       AllowClear="true"
                                                       Placeholder="Select Content Views"
                                                       Style="width: 100%; height: 250px"
                                                       InputAttributes="@(new Dictionary<string, object> { { "aria-label", "select content views" } })"/>
                                    </CentreColumn>
                                </EditorRow>

                                <EditorRow>
                                    <LeftColumn>
                                        <PropertyInfo Name="Allowed Child Content Types"
                                                      Description="Optionally limit what child content types can be created"/>
                                    </LeftColumn>
                                    <CentreColumn>
                                        <RadzenListBox @bind-Value="@ContentType.AllowedChildContentTypes"
                                                       Data="@ContentTypes"
                                                       FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                       FilterOperator="StringFilterOperator.StartsWith"
                                                       AllowFiltering="true"
                                                       TextProperty="Name"
                                                       ValueProperty="Id"
                                                       Multiple="true"
                                                       AllowClear="true"
                                                       Placeholder="Select Content Types"
                                                       Style="width: 100%; height: 250px"
                                                       InputAttributes="@(new Dictionary<string, object> { { "aria-label", "select child types" } })"/>
                                    </CentreColumn>
                                </EditorRow>
                            }

                            @if (!ContentType.IsComposition)
                            {
                                <EditorRow>
                                    <LeftColumn>
                                        <PropertyInfo Name="Compositions"
                                                      Description="Choose compositions to add to this content type" />
                                    </LeftColumn>
                                    <CentreColumn>
                                        <RadzenListBox 
                                                       Data="@Compositions"
                                                       FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                       FilterOperator="StringFilterOperator.StartsWith"
                                                       AllowFiltering="true"
                                                       TextProperty="Name"
                                                       ValueProperty="Id"
                                                       Multiple="true"
                                                       Value="@ContentType.CompositionIds"
                                                       Change="@(args => CompositionSelected(args))"
                                                       AllowClear="true"
                                                       Placeholder="Select Compositions"
                                                       Style="width: 100%; height: 250px"
                                                       InputAttributes="@(new Dictionary<string, object> { { "aria-label", "select compositions" } })"/>
                                    </CentreColumn>
                                </EditorRow>   
                            }

                            @if (ContentType is { IsFolder: false, IsComposition: false })
                            {
                                <EditorRow>
                                    <LeftColumn>
                                        <PropertyInfo Name="Is Element Type"
                                                      Description="Allows this content type to be used in the Block List Editor"/>
                                    </LeftColumn>
                                    <CentreColumn>
                                        <RadzenSwitch @bind-Value="@ContentType.IsElementType"
                                                      InputAttributes="@(new Dictionary<string, object> { { "aria-label", "Is Element Type" } })"/>
                                    </CentreColumn>
                                </EditorRow>
                            }

                            @if (ContentType is { IsElementType: true, IsFolder: false, IsComposition: false })
                            {
                                <EditorRow>
                                    <LeftColumn>
                                        <PropertyInfo Name="Element Type Preview Image"
                                                      Description="Choose an image to show for this element type when it is displayed in the block list editor"/>
                                    </LeftColumn>
                                    <CentreColumn>
                                        <MediaPickerProperty
                                            Value="@ContentType.MediaIdAsString"
                                            Settings="@(JsonSerializer.Serialize(new MediaPickerSettings { MaxAllowed = 1 }))"
                                            ValueChanged="@(e => ContentType.MediaIdAsString = e.ToString())"/>
                                    </CentreColumn>
                                </EditorRow>
                            }

                            @*@if (ContentType.IsElementType == false)
                            {
                                <EditorRow>
                                    <LeftColumn>
                                        <PropertyInfo Name="Is Folder"
                                                      Description="Folder allows you to structure your content types in a tree"/>
                                    </LeftColumn>
                                    <CentreColumn>
                                        <RadzenSwitch @bind-Value="@ContentType.IsFolder"
                                                      InputAttributes="@(new Dictionary<string, object> { { "aria-label", "Is Folder" } })"/>
                                    </CentreColumn>
                                </EditorRow>
                            }*@

                            @if (ContentType is { IsElementType: false, IsFolder: false, IsComposition: false })
                            {
                                <EditorRow>
                                    <LeftColumn>
                                        <PropertyInfo Name="Enable List View"
                                                      Description="Show list view of child content instead of them showing as child items in the tree"/>
                                    </LeftColumn>
                                    <CentreColumn>
                                        <RadzenSwitch Name="EnableListView" @bind-Value="@ContentType.EnableListView"/>
                                    </CentreColumn>
                                </EditorRow>
                            }

                            @*
                            <EditorRow>
                                <LeftColumn>
                                    <PropertyInfo Name="Include Child Content" Description="Return children when this page is rendered to save multiple content queries"/>
                                </LeftColumn>
                                <CentreColumn>
                                    <RadzenSwitch Name="IncludeChildren" @bind-Value="@ContentType.IncludeChildren"/>
                                </CentreColumn>
                            </EditorRow>
                            *@

                            <EditorRow>
                                <LeftColumn>
                                    <PropertyInfo Name="Created"/>
                                </LeftColumn>
                                <CentreColumn>
                                    @(ContentType.DateCreated.HasValue ? ContentType.DateCreated.Humanize() : string.Empty)
                                </CentreColumn>
                            </EditorRow>

                            <EditorRow>
                                <LeftColumn>
                                    <PropertyInfo Name="Last Updated"/>
                                </LeftColumn>
                                <CentreColumn>
                                    @(ContentType.DateUpdated.HasValue ? ContentType.DateUpdated.Humanize() : string.Empty)
                                </CentreColumn>
                            </EditorRow>

                        </RadzenTabsItem>
                    }
                    else
                    {
                        <RadzenTabsItem>
                            <Template Context="tabContext">
                                @tab.Name
                            </Template>
                            <ChildContent>
                                <RadzenStack Gap="1rem">
                                    @{
                                        var tabProperties = AllProperties
                                            .Where(x => x.TabAlias == tab.Alias)
                                            .OrderBy(x => x.SortOrder)
                                            .ToList();
                                    }
                                    @if (tabProperties.Any())
                                    {
                                        @foreach (var property in tabProperties)
                                        {
                                            if (ContentProperties.TryGetValue(property.Component!, out var contentProperty))
                                            {
                                                <PropertyEditor Property="property"
                                                                ContentProperty="@(contentProperty)"
                                                                OnSortUp="@(prop => SortProperty(prop, false))"
                                                                OnSortDown="@(prop => SortProperty(prop, true))"
                                                                OnDelete="@(prop => DeleteProperty(prop))"
                                                                OnChangeTab="@(async (prop) => await ChangeTab(prop))"
                                                                OnSettings="@(async (prop) => await Settings(prop))"
                                                                SlugHelper="@_slugHelper"
                                                                ContentTypeIsComposition="@(ContentType.IsComposition)" />
                                            }
                                            else
                                            {
                                                NotificationService.Notify(new NotificationMessage
                                                {
                                                    Severity = NotificationSeverity.Error, Summary = "Missing Editor", Detail = $"Unable to find the editor {property.Component} so it's been skipped, has it been deleted?", Duration = 4000
                                                });
                                                <p>Unable to find the editor @property.Component so it's been skipped,
                                                    has the component been deleted or alias changed?</p>
                                                <RadzenButton Variant="Variant.Filled" ButtonStyle="ButtonStyle.Danger"
                                                              Text="Delete This Property"
                                                              Click="@(() => DeleteProperty(property))"/>
                                            }
                                        }
                                    }
                                    else if(!ContentType.IsComposition && !tab.IsCompositionTab)
                                    {
                                        
                                        <RadzenStack Orientation="Orientation.Horizontal"
                                                     JustifyContent="JustifyContent.Center"
                                                     AlignItems="AlignItems.Center">
                                            <RadzenButton Variant="Variant.Filled" ButtonStyle="ButtonStyle.Danger"
                                                          Text="Delete This Tab" Click="@(() => DeleteTab(tab))"/>
                                        </RadzenStack>
                                    }
                                </RadzenStack>
                            </ChildContent>
                        </RadzenTabsItem>
                    }
                }
            </Tabs>
        </RadzenTabs>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right"
                     AlignItems="AlignItems.Center">
            <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="save" Text="Save"/>
        </RadzenStack>
    </EditForm>
</RadzenPanel>

@code {
    [Inject] public IModalService ModalService { get; set; } = null!;
    [Inject] public NotificationService NotificationService { get; set; } = null!;
    [Inject] public ExtensionManager ExtensionManager { get; set; } = null!;
    [Inject] public AppState AppState { get; set; } = null!;
    [Inject] public AuthenticationStateProvider AuthenticationStateProvider { get; set; } = null!;
    [Inject] public ValidateService<ContentType> ValidateService { get; set; } = null!;
    [Inject] public IWebHostEnvironment Env { get; set; } = null!;
    [Inject] public DialogService DialogService { get; set; } = null!;
    
    [Parameter] public string? ContentTypeId { get; set; }
    [Parameter] public string? CopyContentTypeId { get; set; }
    [Parameter] public string? ParentId { get; set; }
    [Parameter] public int? FolderType { get; set; }

    [CascadingParameter] protected SectionLayout? Layout { get; set; }

    private ContentType ContentType { get; set; } = new();
    private List<ContentViewName> ContentViews { get; set; } = [];
    private List<ContentType> ContentTypes { get; set; } = [];
    private List<ContentType> Compositions { get; set; } = [];
    private List<ContentType> SelectedCompositions { get; set; } = [];
    private List<PropertyType> AllProperties { get; set; } = [];
    private List<Tab> OrderedTabs { get; set; } = [];
    private Dictionary<int, Tab> TabIndex { get; set; } = new();
    private bool ShowDeleteButton { get; set; }
    private int SelectedTabIndex { get; set; }
    private RadzenTabs Tabs { get; set; } = null!;
    private Dictionary<string, IContentProperty> ContentProperties { get; set; } = [];
    private AuthenticationState AuthState { get; set; } = null!;
    private PageType CurrentPageType { get; set; } = PageType.ContentTypeCreate;
    private int InitialCompositionsAmount { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        SetPageType();

        AuthState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ContentProperties = ExtensionManager.GetInstances<IContentProperty>(true);

        if (ContentTypeId != null)
        {
            var contentType = await ContentService.GetContentTypeAsync(new GetContentTypeParameters { Id = ContentTypeId });
            if (contentType != null)
            {
                ContentType = contentType;
            }
            ShowDeleteButton = true;
        }
        else
        {
            ContentType = await NewContentType();
        }

        if (CopyContentTypeId != null)
        {
            // Should this be done here?
            var contentTypeToCopy = await ContentService.GetContentTypeAsync(new GetContentTypeParameters { Id = CopyContentTypeId });
            if (contentTypeToCopy != null)
            {
                ContentType = contentTypeToCopy;
                ContentType.Name = string.Concat("Copy Of ", contentTypeToCopy.Name);
                ContentType.Alias = string.Concat("CopyOf", contentTypeToCopy.Alias);
                ContentType.Id = Guid.NewGuid().NewSequentialGuid().ToString();
            }
        }

        var contentTypes = await ContentService.QueryContentTypesAsync(new QueryContentTypesParameters { OrderBy = GetContentTypesOrderBy.Name, AmountPerPage = 1000 });
        ContentTypes = contentTypes.Items.ToList();

        if (ContentTypes.Count <= 0)
        {
            ContentType.AllowAtRoot = true;
        }
        
        await CompositionsInit();
        //LoadViewFiles();
        InitializeTabs();
        InitializeContentViews();
        SortTabsInOrder();
        SelectedTabIndex = 0; 
    }

    protected override void OnInitialized()
    {
        Layout?.SetSection(Constants.Sections.StructureSection);
    }
    
    private void CompositionSelected(object data)
    {
        if (data is IEnumerable<string> compositionIds)
        {
            var enumerable = compositionIds as string[] ?? compositionIds.ToArray();
            ContentType.CompositionIds = enumerable.ToList();
            SelectedCompositions = Compositions.Where(x => enumerable.Contains(x.Id)).ToList();
        }
    }

    private async Task CompositionsInit()
    {
        // Get these content properties
        SelectedCompositions.Clear();
        AllProperties.Clear();
        
        AllProperties = ContentType.ContentProperties;
     
        if (!ContentType.IsComposition)
        {
            var compositions = await ContentService.QueryContentTypesAsync(new QueryContentTypesParameters { OnlyCompositions = true, AmountPerPage = 100 });
            Compositions = compositions.Items.ToList();

            if (ContentType.CompositionIds.Any())
            {
                SelectedCompositions = Compositions.Where(x => ContentType.CompositionIds.Contains(x.Id)).ToList();
            
                // Now append any composition properties
                foreach (var selectedComposition in SelectedCompositions)
                {
                    AllProperties.AddRange(selectedComposition.ContentProperties);
                }
            }   
        }

        InitialCompositionsAmount = SelectedCompositions.Count;

    }
    
    private async Task<ContentType> NewContentType()
    {
        var contentType = new ContentType();

        if (ParentId != null)
        {
            contentType.ParentId = ParentId;
            
            // Need to update foldertype from the parent
            var parentContentType = await ContentService.GetContentTypeAsync(new GetContentTypeParameters { Id = ParentId});
            if (parentContentType != null)
            {
                contentType.IsElementType = parentContentType.IsElementType;
                contentType.IsComposition = parentContentType.IsComposition;
            }
        }

        switch (CurrentPageType)
        {
            case PageType.ElementTypeCreate:
                contentType.IsElementType = true;
                break;
            case PageType.CompositionCreate:
                contentType.IsComposition = true;
                break;
            case PageType.Folder:
                contentType.IsFolder = true;
                contentType.Icon = "folder";

                switch (FolderType)
                {
                    case 1:
                        contentType.IsElementType = true;
                        break;
                    case 2:
                        contentType.IsComposition = true;
                        break;
                }

                break;
        }

        return contentType;
    }
    
    /*private void LoadViewFiles()
    {
        ViewFiles = ExtensionManager.GetAllowedViews(ContentType.Alias);
    }*/

    private async Task SelectIcon()
    {
        var dialog = ModalService.OpenSidePanel<ListMaterialIconsDialog>("Choose Icon");
        var result = await dialog.Result;
        if (result is { Confirmed: true, Data: string icon })
        {
            ContentType.Icon = icon;
        }
    }

    private readonly SlugHelper _slugHelper = new(new SlugHelper.Config
    {
        CharacterReplacements = new Dictionary<string, string> { { " ", "" } },
        UseCamelCase = true
    });

    private void TabChange(int i)
    {
        SelectedTabIndex = i;
    }

    private void InitializeTabs()
    {
        var allTabs = ContentType.Tabs.Where(x => !x.IsSystemTab).ToList();
        foreach (var selectedComposition in SelectedCompositions)
        {
            foreach (var selectedCompositionTab in selectedComposition.Tabs.Where(x => !x.IsSystemTab))
            {
                if (allTabs.All(x => x.Name != selectedCompositionTab.Name))
                {
                    allTabs.Add(selectedCompositionTab);   
                }
            }
        }
        
        // Now reset sort orders to be correct
        foreach (var tab in allTabs)
        {
            var contentProperties = AllProperties
                .Where(x => x.TabAlias == tab.Alias)
                .OrderBy(x => x.SortOrder)
                .ToList();

            for (var i = 0; i < contentProperties.Count; i++)
            {
                var contentProperty = contentProperties[i];
                contentProperty.SortOrder = i + 1;
            }
        }
    }

    private void InitializeContentViews()
    {
        var allContentViews = ExtensionManager.GetInstances<IContentView>();
        ContentViews = allContentViews.Values
            .Select(x =>
            {
                var type = x.GetType();
                return new ContentViewName
                {
                    // Get the name of the component
                    Name = type.Name,
                    // Get the full name of the component
                    FullName = type.FullName!
                };
            })
            .Where(x => !Constants.InternalContentViews.Contains(x.Name))
            .OrderBy(x => x.Name)
            .ToList();
    }

    private void SortTabsInOrder()
    {
        TabIndex.Clear();

        var allTabs = ContentType.Tabs.OrderBy(x => x.SortOrder).ToList();
        foreach (var selectedComposition in SelectedCompositions)
        {
            foreach (var selectedCompositionTab in selectedComposition.Tabs.Where(x => !x.IsSystemTab).OrderBy(x => x.SortOrder))
            {
                if (allTabs.All(x => x.Alias != selectedCompositionTab.Alias))
                {
                    selectedCompositionTab.IsCompositionTab = true;
                    allTabs.Add(selectedCompositionTab);   
                }   
            }
        }
        
        var tabs = allTabs.OrderBy(x => x.SortOrder).ToList();
        @for (var i = 0; i < tabs.Count; i++)
        {
            var tab = tabs[i];
            TabIndex.TryAdd(i, tab);
        }

        OrderedTabs = tabs;
    }

    private void SortProperty(PropertyType property, bool moveDown)
    {
        var propertiesInSameTab = AllProperties
            .Where(p => p.TabId == property.TabId)
            .OrderBy(p => p.SortOrder)
            .ToList();

        var index = propertiesInSameTab.IndexOf(property);

        if (!moveDown && index > 0)
        {
            // Moving up
            var previousProperty = propertiesInSameTab[index - 1];
            previousProperty.SortOrder++;
            property.SortOrder--;
        }
        else if (moveDown && index < propertiesInSameTab.Count - 1)
        {
            // Moving down
            var nextProperty = propertiesInSameTab[index + 1];
            nextProperty.SortOrder--;
            property.SortOrder++;
        }

        Tabs.Reload();
    }


    private void DeleteProperty(PropertyType property)
    {
        if (!ContentType.IsComposition && property.IsFromComposition)
        {
            NotificationService.ShowWarningNotification("This property is from a composition, unable to delete here");
        }
        else
        {
            // Remove the specified property from the list
            ContentType.ContentProperties.Remove(property);

            // Get properties in the same tab and re-adjust their sort orders
            var propertiesInSameTab = ContentType.ContentProperties
                .Where(p => p.TabId == property.TabId)
                .OrderBy(p => p.SortOrder)
                .ToList();

            for (var i = 0; i < propertiesInSameTab.Count; i++)
            {
                propertiesInSameTab[i].SortOrder = i + 1;
            }

            // Reload Tabs and update state
            Tabs.Reload();   
        }
    }

    private async Task ChangeTab(PropertyType property)
    {
        var tabs = OrderedTabs
            .Where(x => !x.IsSystemTab)
            .OrderBy(x => x.SortOrder)
            .ToList();
        var dialog = ModalService.OpenSidePanel<ChangeTab>("Change Tab",
            new Dictionary<string, object>
            {
                { nameof(Dialogs.ChangeTab.ContentTypeId), ContentType.Id },
                { nameof(Dialogs.ChangeTab.Tabs), tabs }
            });
        var result = await dialog.Result;
        if (result is { Confirmed: true, Data: string newTabId })
        {
            // If it's been changed then update it
            var selectedTab = tabs.FirstOrDefault(x => x.Id == newTabId);
            property.TabId = newTabId;
            property.TabAlias = selectedTab!.Alias;
            Tabs.Reload();
        }
    }

    private async Task Settings(PropertyType property)
    {
        var dialog = ModalService.OpenSidePanel<ContentTypePropertySettingsEditor>("Edit Settings",
            new Dictionary<string, object> { { nameof(ContentTypePropertySettingsEditor.PropertyType), property } });
        var result = await dialog.Result;
        if (result is { Confirmed: true, Data: string settings })
        {
            property.Settings = settings;
        }
    }

    private void DeleteTab(Tab tab)
    {
        if (!ContentType.IsComposition && tab.IsCompositionTab)
        {
            NotificationService.ShowWarningNotification("Unable to delete, this tab is from a composition");
        }
        else
        {
            // Remove the specified tab from the list of tabs
            ContentType.Tabs.Remove(tab);

            SortTabsInOrder();   
        }
    }

    private async Task Save()
    {
        if (await ValidateService.CanSave(ContentType))
        {
            var isNewContentType = ContentTypeId == null;
            
            // Get properties that belong to this content type (not from compositions)
            var ownProperties = ContentType.IsComposition ? AllProperties : AllProperties.Where(x => x.IsFromComposition == false).ToList();
            
            // Check for orphaned properties - properties whose tabs no longer exist
            var validTabAliases = ContentType.Tabs.Select(t => t.Alias).ToHashSet();
            var orphanedProperties = ownProperties.Where(p => !string.IsNullOrEmpty(p.TabAlias) && !validTabAliases.Contains(p.TabAlias)).ToList();
            
            if (orphanedProperties.Any())
            {
                // Group orphaned properties by their original tab alias
                var propertiesByTab = orphanedProperties.GroupBy(p => p.TabAlias!).ToList();
                var reassignedCount = 0;
                
                foreach (var tabGroup in propertiesByTab)
                {
                    // Try to find an existing non-system tab to use
                    var targetTab = ContentType.Tabs.FirstOrDefault(t => !t.IsSystemTab);
                    
                    if (targetTab == null)
                    {
                        // Create a new tab based on the original tab alias
                        // Convert alias back to a readable name (e.g., "my-tab" -> "My Tab")
                        var tabName = string.Join(" ", tabGroup.Key.Split('-')
                            .Where(word => !string.IsNullOrWhiteSpace(word))
                            .Select(word => word.Length == 1 
                                ? word.ToUpper() 
                                : char.ToUpper(word[0]) + word.Substring(1).ToLower()));
                        
                        // Fallback if the conversion results in an empty string
                        if (string.IsNullOrWhiteSpace(tabName))
                        {
                            tabName = "Content";
                        }
                        
                        targetTab = new Tab
                        {
                            Name = tabName,
                            SortOrder = ContentType.Tabs.Count + 1,
                            IsSystemTab = false
                        };
                        ContentType.Tabs.Add(targetTab);
                    }
                    
                    // Reassign properties to the target tab
                    foreach (var orphanedProperty in tabGroup)
                    {
                        orphanedProperty.TabId = targetTab.Id;
                        orphanedProperty.TabAlias = targetTab.Alias;
                        reassignedCount++;
                    }
                }
                
                NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Info,
                    Summary = "Properties Reassigned",
                    Detail = $"{reassignedCount} orphaned {(reassignedCount == 1 ? "property was" : "properties were")} reassigned to {(propertiesByTab.Count == 1 ? "a tab" : "tabs")}",
                    Duration = 6000
                });
            }
            
            ContentType.ContentProperties = ownProperties;
            var saveContentTypeCommand = new SaveContentTypeParameters { ContentType = ContentType };
            var result = await ContentService.SaveContentTypeAsync(saveContentTypeCommand);
            NotificationService.Notify(result.Success ? new NotificationMessage { Severity = NotificationSeverity.Success, Summary = $"{ContentType.Name} Saved", Detail = "", Duration = 4000 } : new NotificationMessage { Severity = NotificationSeverity.Error, Summary = $"{ContentType.Name} Error", Detail = result.Messages.MessagesAsString(), Duration = 4000 });
            await AppState.NotifyContentTypeSaved(ContentType, AuthState.User.Identity?.Name!);

            if (result.Success)
            {
                if (isNewContentType)
                {
                    // Navigate to the edit page for the newly created content type
                    NavigationManager.NavigateTo($"{Urls.AdminStructureUpdateContentType}/{ContentType.Id}");
                    return;
                }

                if (SelectedCompositions.Count != InitialCompositionsAmount)
                {
                    // They have changed compositions, so need to refresh the page
                    await Task.Delay(500); // Add a 500ms delay
                    NavigationManager.NavigateTo(NavigationManager.Uri, true);
                }
                /*else
                {
                    SelectedTabIndex = 0;
                }*/
            }
        }
    }

    private async Task DeleteContentType()
    {
        var result = await ContentService.DeleteContentTypeAsync(new DeleteContentTypeParameters { ContentTypeId = ContentType.Id });        

        var delete = await DialogService.Confirm("Do you really want to delete content type?", "Delete", new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" });
        if (delete == true)
        {
            if (result.Success)
            {            
                NotificationService.ShowSuccessNotification("Content Type Deleted");
                await AppState.NotifyContentTypeDeleted(null, AuthState.User.Identity?.Name!);
                NavigationManager.NavigateTo(Urls.AdminStructureBaseUrl, true);
            }
            else
            {
                NotificationService.ShowNotifications(result.Messages);
            }   
        }
    }

    private async Task AddEditTab(Tab? tab)
    {
        var dialog = ModalService.OpenSidePanel<AddTab>("Update Tab",
            new Dictionary<string, object>
            {
                { nameof(AddTab.Tab), tab! },
                { nameof(AddTab.DefaultSortOrder), tab?.SortOrder ?? ContentType.Tabs.Count(x => !x.IsSystemTab) + 1 },
                { nameof(AddTab.IsComposition), ContentType.IsComposition },
                
            });
        var result = await dialog.Result;
        if (result is { Confirmed: true, Data: Tab newTab })
        {
            if (ContentType.IsComposition == false && newTab.IsCompositionTab)
            {
                // Intentionally left empty: Do nothing in this case
            }
            else
            {
                if (!newTab.Name.IsNullOrWhiteSpace())
                {
                    if (tab != null)
                    {
                        // Find and update the tab
                        var index = ContentType.Tabs.FindIndex(x => x.Id == tab.Id);
                        if (index != -1)
                        {
                            ContentType.Tabs[index] = newTab;
                        }
                    }
                    else
                    {
                        // Add the new tab to the list of tabs
                        ContentType.Tabs.Add(newTab);
                    }

                    SortTabsInOrder();
                }
            
                StateHasChanged();   
            }
        }
    }

    private async Task AddProperty()
    {
        if (OrderedTabs.All(x => x.IsSystemTab))
        {
            NotificationService.ShowNotification("You need to add a tab", NotificationSeverity.Info);
        }
        else
        {
            var dialog = ModalService.OpenSidePanel<ListContentTypeProperties>("Add Property");
            var result = await dialog.Result;
            if (result is { Confirmed: true, Data: IContentProperty property })
            {
                var tabToAddTo = TabIndex[SelectedTabIndex];
                AllProperties.Add(new PropertyType
                {
                    Component = property.GetType().FullName ?? string.Empty,
                    SortOrder = ContentType.ContentProperties.Count + 1,
                    TabId = tabToAddTo.Id,
                    TabAlias = tabToAddTo.Alias,
                    FullWidth = property.FullWidth,
                    ComponentAlias = property.Alias,
                    IsFromComposition = ContentType.IsComposition
                });
                StateHasChanged();
            }
        }
    }

    private void SetPageType()
    {
        var currentUri = NavigationManager.Uri; // Current full URI

        // Check if the current URI matches any route and set the CurrentPageType
        CurrentPageType = currentUri switch
        {
            _ when currentUri.Contains(Urls.AdminStructureCreateContentType, StringComparison.OrdinalIgnoreCase) => PageType.ContentTypeCreate,
            _ when currentUri.Contains(Urls.AdminStructureCreateElementType, StringComparison.OrdinalIgnoreCase) => PageType.ElementTypeCreate,
            _ when currentUri.Contains(Urls.AdminStructureUpdateContentType, StringComparison.OrdinalIgnoreCase) => PageType.ContentTypeUpdate,
            _ when currentUri.Contains(Urls.AdminStructureCopyContentType, StringComparison.OrdinalIgnoreCase) => PageType.ContentTypeCopy,
            _ when currentUri.Contains(Urls.AdminStructureCreateComposition, StringComparison.OrdinalIgnoreCase) => PageType.CompositionCreate,
            _ when currentUri.Contains(Urls.AdminStructureCreateFolder, StringComparison.OrdinalIgnoreCase) => PageType.Folder,
            _ when currentUri.Contains(Urls.AdminStructureCreateFolderWithParent, StringComparison.OrdinalIgnoreCase) => PageType.Folder,
            _ => CurrentPageType // Retain the current value if no match is found
        };
    }

    private enum PageType
    {
        ContentTypeCreate,
        ContentTypeUpdate,
        ContentTypeCopy,
        ElementTypeCreate,
        CompositionCreate,
        Folder
    }
}