@using ZauberCMS.Core.Content.Parameters
@using ZauberCMS.Core.Media.Models
@using ZauberCMS.Core.Plugins
@if (ElementTypesOnly == true && CoverImages.Any())
{
    <div class="mx-auto">
        @if (ElementTypeFolders.Any())
        {
            @foreach (var folder in ElementTypeFolders)
            {
                var childItems = ContentTypes.Where(x => x.ParentId == folder.Id).ToList();
                if (childItems.Any())
                {
                    <h2 class="text-2xl font-bold">@folder.Name</h2>
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8">
                        @foreach (var contentType in childItems)
                        {
                            <div class="relative sm:col-span-2 cursor-pointer"
                                 @onclick="@(() => SelectContentType(contentType.Id))">
                                <div class="absolute inset-px rounded-lg"></div>
                                <div
                                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
                                    @if (CoverImages.TryGetValue(contentType.Id, out var coverImage))
                                    {
                                        <img class="h-48 object-cover" src="/@coverImage.Url" alt="@contentType.Name">
                                    }
                                    else if (contentType.Icon != null)
                                    {
                                        <div class="h-48 flex text-slate-800 items-center justify-center">
                                            <RadzenIcon Icon="@(contentType.Icon)" Style="--rz-icon-size: 10rem;"/>
                                        </div>
                                    }
                                    <div class="p-10 pt-4">
                                        <p class="mt-2 text-2xl font-medium tracking-tight text-gray-950 text-center">@contentType.Name</p>
                                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600 text-center">@contentType.Description</p>
                                    </div>
                                </div>
                                <div
                                    class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
                            </div>
                        }
                    </div>   
                }
            }

            var otherContentTypes = ContentTypes.Where(x => x.ParentId == null).ToList();
            if (otherContentTypes.Any())
            {
                <h2 class="text-2xl font-bold">Other</h2>
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8">
                    @foreach (var contentType in otherContentTypes)
                    {
                        <div class="relative sm:col-span-2 cursor-pointer"
                             @onclick="@(() => SelectContentType(contentType.Id))">
                            <div class="absolute inset-px rounded-lg"></div>
                            <div
                                class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
                                @if (CoverImages.TryGetValue(contentType.Id, out var coverImage))
                                {
                                    <img class="h-48 object-cover" src="/@coverImage.Url" alt="@contentType.Name">
                                }
                                else if (contentType.Icon != null)
                                {
                                    <div class="h-48 flex text-slate-800 items-center justify-center">
                                        <RadzenIcon Icon="@(contentType.Icon)" Style="--rz-icon-size: 10rem;"/>
                                    </div>
                                }
                                <div class="p-10 pt-4">
                                    <p class="mt-2 text-2xl font-medium tracking-tight text-gray-950 text-center">@contentType.Name</p>
                                    <p class="mt-2 max-w-lg text-sm/6 text-gray-600 text-center">@contentType.Description</p>
                                </div>
                            </div>
                            <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8">
                @foreach (var contentType in ContentTypes)
                {
                    <div class="relative sm:col-span-2 cursor-pointer"
                         @onclick="@(() => SelectContentType(contentType.Id))">
                        <div class="absolute inset-px rounded-lg"></div>
                        <div
                            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
                            @if (CoverImages.TryGetValue(contentType.Id, out var coverImage))
                            {
                                <img class="h-48 object-cover" src="/@coverImage.Url" alt="@contentType.Name">
                            }
                            else if (contentType.Icon != null)
                            {
                                <div class="h-48 flex text-slate-800 items-center justify-center">
                                    <RadzenIcon Icon="@(contentType.Icon)" Style="--rz-icon-size: 10rem;"/>
                                </div>
                            }
                            <div class="p-10 pt-4">
                                <p class="mt-2 text-2xl font-medium tracking-tight text-gray-950 text-center">@contentType.Name</p>
                                <p class="mt-2 max-w-lg text-sm/6 text-gray-600 text-center">@contentType.Description</p>
                            </div>
                        </div>
                        <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"></div>
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <RadzenListBox FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                   FilterOperator="StringFilterOperator.StartsWith"
                   AllowFiltering="true"
                   @bind-Value="@SelectedContentTypeId"
                   Data="@ContentTypes"
                   TextProperty="Name"
                   ValueProperty="Id"
                   Style="width: 100%; height: 100%;"
                   InputAttributes="@(new Dictionary<string, object> { { "aria-label", "select content type" } })"
                   Change="@OnPropertySelected">
        <Template>
            <div class="flex space-x-2 cursor-pointer">
                @if ((context as ContentType)?.Icon != null)
                {
                    <RadzenIcon Icon="@((context as ContentType)?.Icon)"/>
                }
                <div>@((context as ContentType)?.Name)</div>
            </div>
            <div class="text-sm">@((context as ContentType)?.Description)</div>
        </Template>
    </RadzenListBox>
}

@code {
    [Inject] public ExtensionManager ExtensionManager { get; set; } = null!;
    [Inject] public DialogService DialogService { get; set; } = null!;

    [Parameter] public bool RootOnly { get; set; }
    [Parameter] public bool? ElementTypesOnly { get; set; }
    [Parameter] public string? ParentId { get; set; }
    [Parameter] public List<string>? AllowedElementTypeIds { get; set; }
    [Parameter] public EventCallback<string> ContentTypeSelected { get; set; } // add this line

    private IEnumerable<ContentType> ContentTypes { get; set; } = [];
    private IEnumerable<ContentType> ElementTypeFolders { get; set; } = [];

    private string SelectedContentTypeId { get; set; }
    private Dictionary<string, Media> CoverImages { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        var qctc = new QueryContentTypesParameters { AmountPerPage = int.MaxValue, RootOnly = RootOnly, OrderBy = GetContentTypesOrderBy.Name };

        if (ElementTypesOnly is true)
        {
            qctc.OnlyElementTypes = true;
        }

        var items = await ContentService.QueryContentTypesAsync(qctc);
        ContentTypes = items.Items;

        // Apply parent restrictions if specified
        if (ParentId != null)
        {
            var content = await ContentService.GetContentAsync(new GetContentParameters { Id = ParentId });
            if (content!.ContentType?.AllowedChildContentTypes.Any() == true)
            {
                ContentTypes = ContentTypes.Where(x => content.ContentType.AllowedChildContentTypes.Contains(x.Id));
            }
        }

        // Apply allowed ElementType restrictions if specified
        if (AllowedElementTypeIds != null && AllowedElementTypeIds.Any())
        {
            ContentTypes = ContentTypes.Where(x => AllowedElementTypeIds.Contains(x.Id));
        }

        var contentTypes = ContentTypes as ContentType[] ?? ContentTypes.ToArray();
        foreach (var contentType in contentTypes)
        {
            if (!string.IsNullOrEmpty(contentType.MediaId))
            {
                var coverImage = await MediaService.GetMedia(contentType.MediaId);
                if (coverImage != null) CoverImages.Add(contentType.Id, coverImage);
            }
        }

        // Auto-select if only one content type is available
        if (contentTypes.Length == 1)
        {
            await ContentTypeSelected.InvokeAsync(contentTypes.First().Id);
            return;
        }

        var elementTypeFolders = await ContentService.QueryContentTypesAsync(new QueryContentTypesParameters { AmountPerPage = 100, OnlyFolders = true, OnlyElementTypes = true, OrderBy = GetContentTypesOrderBy.Name });
        ElementTypeFolders = elementTypeFolders.Items;
    }

    private void OnPropertySelected()
    {
        ContentTypeSelected.InvokeAsync(SelectedContentTypeId);
    }

    private void SelectContentType(string contentTypeId)
    {
        SelectedContentTypeId = contentTypeId;
        ContentTypeSelected.InvokeAsync(contentTypeId);
    }

}