@inherits MerakiComponentBase

@if (ShowSeparator)
{
    <span class="mx-5 text-gray-500 dark:text-gray-300 rtl:-scale-x-100">
        @if (SeparatorContent == null)
        {
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        }
        else
        {
            @SeparatorContent
        }
    </span>
}

<a href="@Url" class="flex items-center @(IsActive ? "text-blue-600 dark:text-blue-400" : "text-gray-600 dark:text-gray-200") hover:underline @Class" id="@Id" @attributes="AdditionalAttributes">
    @if (IconContent != null)
    {
        <div class="mx-2">
            @IconContent
        </div>
    }
    
    <span class="@(IconContent != null ? "" : "mx-2")">@Text</span>
</a>
