@inherits MerakiComponentBase

<div class="lg:flex @Class" id="@Id" @attributes="AdditionalAttributes">
    <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="@ImageUrl" alt="@ImageAlt">

    <div class="flex flex-col justify-between py-6 lg:mx-6">
        <a href="@Url" class="text-xl font-semibold text-gray-800 hover:underline dark:text-white">
            @Title
        </a>

        <span class="text-sm text-gray-500 dark:text-gray-300">On: @Date</span>
    </div>
</div>
