@using Microsoft.AspNetCore.Http
@using System.Globalization
@using ZauberCMS.Core.Plugins
<!DOCTYPE html>
<html lang="@CurrentLanguage">
<head>
    <base href="/"/>
    <HeadOutlet @rendermode="RenderModeForPage" />
    <ImportMap />
    @if (IsAdmin)
    {
        <RadzenTheme Theme="material" @rendermode="InteractiveServer" />
        
        <link rel="stylesheet" href="@Assets["_content/ZauberCMS.Components/ZauberCMS.Components.bundle.scp.css"]">
        <link rel="stylesheet" href="@Assets["_content/ZauberCMS.Components/css/admin.css"]">
        <link rel="stylesheet" href="@Assets["_content/Blazored.Modal/Blazored.Modal.bundle.scp.css"]">
        @foreach (var style in PageStyles)
        {
            <link rel="stylesheet" href="@style">
        }   
        <link rel="stylesheet" href="_content/ZauberCMS.RTE/css/fontawesome.min.css" />
        <link rel="stylesheet" href="_content/ZauberCMS.RTE/css/zauber-editor.css" />
    }
</head>

<body>

<CascadingValue Value="IsAdmin">
    <Routes @rendermode="RenderModeForPage"/>
</CascadingValue>

<script src="_framework/blazor.web.js"></script>

@if (IsAdmin)
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.4/Sortable.min.js"></script>
    <script src="_content/ZauberCMS.Components/js/shadow-dom.js"></script>
    @foreach (var script in PageScripts)
    {
        <script src="@script"></script>
    }
    <script src="_content/ZauberCMS.RTE/js/lib/purify.min.js"></script>
    <script src="_content/ZauberCMS.RTE/js/zauber-rte.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Colors).Assembly.GetName().Version)"></script>   
}

</body>
</html>


@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }
    [Inject] public ExtensionManager ExtensionManager { get; set; } = null!;
    
    private List<string> PageScripts { get; set; } = [];
    private List<string> PageStyles { get; set; } = [];
    
    protected override void OnInitialized()
    {
        var contentProperties = ExtensionManager.GetInstances<IContentProperty>(true);
        if (contentProperties.Any())
        {
            PageScripts = contentProperties.SelectMany(x => x.Value.Scripts)?.Distinct().ToList() ?? [];
            PageStyles = contentProperties.SelectMany(x => x.Value.Styles)?.Distinct().ToList() ?? [];
        }
    }

    private bool IsAdmin
    {
        get
        {
            // Get the relative path from the NavigationManager's URI
            var absoluteUri = new Uri(NavigationManager.Uri);
            var requestPathSpan = absoluteUri.LocalPath.AsSpan();
            return requestPathSpan.StartsWith(Urls.AdminBaseUrl, StringComparison.OrdinalIgnoreCase);
        }
    }

    private IComponentRenderMode? RenderModeForPage
    {
        get
        {
            if (HttpContext == null)
            {
                return InteractiveServer;
            }

            return IsAdmin ? InteractiveServer : null;
        }
    }

    private static string CurrentLanguage => CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}