@inherits MerakiComponentBase

<div class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-blue-600 dark:border-gray-700 dark:hover:border-transparent @Class" 
     id="@Id" 
     @attributes="AdditionalAttributes">
    <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" src="@ImageUrl" alt="@Name">

    <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white">@Name</h1>

    <p class="mt-2 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300">@Role</p>

    <div class="flex mt-3 -mx-2">
        @ChildContent
    </div>
</div>
